<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/messages" text=""></ion-back-button>
    </ion-buttons>
    <ion-item lines="none" class="ion-no-padding user-container">

    </ion-item>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #scrollElement class="ion-padding-horizontal">
  <ion-grid>
    <ion-row *ngFor="let message of chat">
      <ion-col size="9" *ngIf="currentUser != message.user_id" class="message left-bubble">
        <ion-thumbnail>
          <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{message.user_picture}}" />
        </ion-thumbnail>
        <ion-label>{{message.user_name}}</ion-label><span *ngIf="message.user_verified === '1'" style="color: lime;">
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
        <p>{{ message.message }}</p>
        <p class="time">{{ message.time | humanizeDate }}</p>
      </ion-col>
      <ion-col size="9" offset="3" *ngIf="currentUser == message.user_id" class="message right-bubble">
        <p>{{ message.message }}</p>
        <p class="time">{{ message.time | humanizeDate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <form [formGroup]="messageForm" (ngSubmit)="submitMessage()">
    <ion-item lines="none">
      <ion-input type="text" placeholder="Write your message" formControlName="message"></ion-input>
      <ion-button slot="end" class="circle-btn" fill="clear" size="small" shape="round" color="primary" type="submit">
        <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-footer>