ion-card {
  box-shadow: none !important;
    background-color: #090909;

}
ion-avatar{
 margin: 16px 16px 8px 0;
        margin-bottom: auto;
}
ion-card-content {
  p {
    margin-bottom: 16px;
    font-size: 1em;
      background-color: #090909;

    line-height: 22px;
  }

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
}


.card-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  padding-top: 8px;

  ul {
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: middle;

      ion-item {
        --padding-start: 0;
        --padding-end: 6px;
      }

      ion-label {
        font-size: 13px;
      }

      ion-icon {
        font-size: 24px;
        padding: 0.5em 0.2em;
      }
    }
  }
}

ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
}

.circle-btn {
  --border-radius: 50%;
vertical-align: middle;
  width: 48px;
  height: 58px;
  margin-right: 5px;
background: transparent;
}

#text {
  border-radius: 20px;
  border: 1px solid green;
  margin-left: 10px;
  width: 100%;
  padding: 10px;
}



.comment {
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  padding: 5px;
border-top: 1px solid black;
  .user-comment {
    font-weight: 700;
    padding-right: 12px;
  }
  
}

.image-upload>input {
  display: none;
}
ion-list{
  padding-top: 0;
}
.replyForm{

  display: none;
}
.showReplyForm{

  display: flex;
}

.liked{
content: url("/assets/images/ggs.png");
}
.unliked{
  content: url("/assets/images/ggsgray.png");
}