<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-row style="width: 100%;">
        <ion-col *ngFor="let item of post">
          <app-feed-card [avatar]="item.user_picture" [name]="item.user_name" [post_id]="item.post_id"
            [date]="item.time" [text]="item.text" [origin]="item.origin_id" [user_id]="item.user_id"
            [picture]="item.picture_source" [videosrc]="item.source" [type]="item.post_type"
            [likes]="item.reaction_like_count" [gif]="item.gif" [grinding]="item.grinding" [tag]="item.tag"
            [comments]="item.comments" [shares]="item.shares" [separator]="true">
          </app-feed-card>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-list>
          <ion-item lines="none" *ngFor="let cm of comments">
            <ion-avatar (click)="user(cm.user_id)" slot="start" style="margin-left: 5px;"><img
                src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{cm.user_picture}}">
            </ion-avatar>

            <ion-text class="comment"><span (click)="user(cm.user_id)" class="user-comment"
                style="color: limegreen;">{{cm.user_name}}</span>
              <span class="item-subtitle">{{ cm.time }}</span>

              <br><br>
              <ion-row>
                <ion-col size="9">
                  <span class="user-comment-text">
                    <div [innerHTML]="cm.text"></div>
                    <img *ngIf="cm.image" src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{cm.image}}">
                  </span>
            <img *ngIf="cm.gifsrc" src="{{cm.gifsrc}}">

                </ion-col>
                <ion-col style="text-align: center;" size="3">
                  <img (click)="commentlike(cm.comment_id)" [src]="commentimage" style="height: 14px; border-radius: 0px; margin: 5px;" />
                </ion-col>
              </ion-row>
              <div class="icon-container">

                <ion-item lines="none">

                  <ion-label style="font-size: small; color: gray;">Reply</ion-label>
                </ion-item>
                <ion-list>
                  <ion-item lines="none" *ngFor="let reply of replies">
                    <ion-avatar (click)="user(reply.user_id)" slot="start" style="margin-left: 5px;"><img
                        src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{reply.user_picture}}">
                    </ion-avatar>

                    <ion-text class="comment"><span (click)="user(reply.user_id)" class="user-comment"
                        style="color: limegreen;">{{reply.user_name}}</span>
                      <span class="item-subtitle">{{ reply.time }}</span>

                      <br><br>
                      <ion-row>
                        <ion-col size="9">

                          <span class="user-comment-text">
                            <div [innerHTML]="reply.text"></div>
                          </span>
                        </ion-col>
                        <ion-col style="text-align: center;" size="3">
                          <img src="./assets/images/ggsgray.png"
                            style="height: 14px; border-radius: 0px; margin: 5px;" />
                        </ion-col>
                      </ion-row>
                      <div class="icon-container">

                        <ion-item lines="none">

                          <ion-label style="font-size: small; color: gray;">Reply</ion-label>
                        </ion-item>

                      </div>
                    </ion-text>

                  </ion-item>
                </ion-list>
              </div>
            </ion-text>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <form [formGroup]="commentForm" (ngSubmit)="submitComment(data, me, commentForm.value)">
    <ion-item lines="none">
      <ion-input id="text" type="text" placeholder="Write your comment" formControlName="text"></ion-input>
      <div id="gifid" class="image-upload">
        <label (click)="onGif($event)" for="gif-input">
          <img src="./assets/images/giphy.png">
        </label>
        <input id="gif-input" class="form-control">
      </div>
      <ion-button slot="end" class="circle-btn" fill="clear" size="small" shape="round" color="primary" type="submit">
        <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-footer>