<ion-content>

</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="badges">
      <ion-icon style="color: #19da39" name="medal"></ion-icon>
      <ion-label>Badges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="merch">
      <ion-icon style="color: #EF3B51" name="shirt"></ion-icon>
      <ion-label>Merch</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="misc">
      <ion-icon style="color: #0bc2e2" name="diamond"></ion-icon>
      <ion-label>Misc</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>