<ion-content [fullscreen]="true" *ngFor="let group of group">
  <ion-grid class="ion-no-padding ion-no-margin background-opts"
    style.background-image="url('https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ group.group_cover }}')">
    <ion-row>
      <ion-col class="header-container">
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/groups" text=""></ion-back-button>
            </ion-buttons>

          </ion-toolbar>
        </ion-header>
        <div class="profile ion-padding">
          <div class="profile-user">
            <ion-thumbnail>
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ group.group_picture }}" />
            </ion-thumbnail>
            <ul class="profile-text ion-padding-horizontal" *ngIf="group">
              <li>
                <span [innerHTML]="group.group_title"> </span><span *ngIf="group.group_verified === '1'"
                  style="color: lime;">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
              </li>
              <li style="font-weight: 400; color: lime;" *ngIf="group.group_category == 19">Esports</li>
              <li style="font-weight: 400; color: lime;" *ngIf="group.group_category == 21">Organization</li>
              <li style="font-weight: 400; color: lime;" *ngIf="group.group_category == 20">Community</li>
              <li style="font-weight: 400; color: lime;" *ngIf="group.group_category == 7">Community</li>

              <li (click)="groupmembers(group.group_id)" style="font-weight: 800;">{{group.group_members}} Members</li>

            </ul>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding-horizontal borders">
    <ion-row class="">
      <ion-col>

        <ul>
          <ion-button *ngIf="admin == 1" class="follow-btn">Edit Group</ion-button>
          <ion-button *ngIf="admin == 0 && group.group_category != 19 && joined == 0" class="follow-btn">Join
          </ion-button>
          <ion-button *ngIf="admin == 0 && group.group_category != 19 && joined == 1" class="unfollow-btn">Leave
          </ion-button>

          <ion-button *ngIf="admin == 0 && group.group_category == 19" class="follow-btn">Apply</ion-button>

          <ion-fab horizontal="end" edge slot="fixed">
            <ion-fab-button>
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button>
                <ion-icon name="warning">Report</ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="close">Block</ion-icon>
              </ion-fab-button>


            </ion-fab-list>
          </ion-fab>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="tabType" mode="md">
          <ion-segment-button value="posts">
            <div class="tab-container">
              <ion-icon name="document"></ion-icon>
              <span>Posts</span>
            </div>
          </ion-segment-button>
          <ion-segment-button value="photos">
            <div class="tab-container">
              <ion-icon name="images"></ion-icon>
              <span>Media</span>
            </div>
          </ion-segment-button>

          <ion-segment-button value="about">
            <div class="tab-container">
              <ion-icon name="person"></ion-icon>
              <span>About</span>
            </div>
          </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="tabType">
          <ion-row *ngSwitchCase="'posts'" class="ion-no-padding">
            <ion-col>
              <ion-row *ngFor="let item of feed">
                <app-feed-card style="width: 100%;" [avatar]="item.user_picture" [name]="item.user_name"
                  [post_id]="item.post_id" [date]="item.time" [text]="item.text" [origin]="item.origin_id"
                  [user_id]="item.user_id" [picture]="item.picture_source" [videosrc]="item.source"
                  [type]="item.post_type" [likes]="item.reaction_like_count" [comments]="item.comments"
                  [shares]="item.shares" [separator]="true">
                </app-feed-card>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="'photos'" class="ion-no-padding">

            <ion-col size="6" *ngFor="let pic of media">
              <img class="image-element" src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{pic.source}}"
                (click)="openModal(pic.source)" />

            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="'about'" class="ion-no-padding">
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Basic Info</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <div [innerHTML]="group.group_description"></div>

                </ion-card-content>
              </ion-card>
              <ion-card>



              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-fab *ngIf="joined == 1" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>