<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tournaments/browse" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <h3>Tournament Details</h3>
    <ion-card>
      <ion-slides>
        <ion-slide>
          <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{tournamentpic}}" />
        </ion-slide>
      </ion-slides>
      <ion-card-title>
        <ion-item>
          <ion-label>
            <h2 class="item-title" style="color: lime;">{{ tournamenttitle }}</h2>
            <p class="item-subtitle">{{tournamentschedule}} EST</p>
          </ion-label>

        </ion-item>
      </ion-card-title>
      <ion-card-content>
        <p>About</p>
        <ion-item>
          <div [innerHTML]="tournamentinfo"></div>

        </ion-item>
        <p>Rules</p>

        <ion-item>
          <div [innerHTML]="tournamentrules"></div>

        </ion-item>
      </ion-card-content>

      <div class="card-footer">
        <div class="icon-container">
          <ul>
            <li>
              <ion-item>
                <ion-icon name="cash-outline" style="color: green;"></ion-icon>
                <ion-label>Prize: $ {{ tournamentprice }}</ion-label>
              </ion-item>
            </li>
            <li>
              <ion-item>
                <ion-icon name="enter-outline"></ion-icon>
                <ion-label> Entry Fee: ${{ tournamentjoin }}</ion-label>
              </ion-item>
            </li>
          </ul>
        </div>
        <ion-button *ngIf="iJoined == true; else join" class="unfollow-btn">
          Registered
        </ion-button>
        <ng-template #join>
          <ion-button (click)="register(data)" slot="end" fill="clear" size="small" shape="round">
            Register
            <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
          </ion-button>
        </ng-template>
        
      </div>
      <div></div>
    </ion-card>
    <h3>Participants</h3>
    <ion-item (click)="user(item.user_id)" *ngFor="let item of tournaments">

      <ion-thumbnail item-left>
        <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_picture }}">

      </ion-thumbnail>

      <ion-label>
        {{ item.user_name }}
      </ion-label>

    </ion-item>
  </ion-list>



</ion-content>