<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-icon name="close-outline"></ion-icon>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Applications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of apps">

      <ion-thumbnail (click)="applicant(item.user_id, item.group_id)" item-left>
        <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_picture }}">

      </ion-thumbnail>

      <ion-label (click)="applicant(item.user_id, item.group_id)">
        {{ item.user_name }} <span *ngIf="item.user_verified === '1'" style="color: lime;">
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
        <span *ngIf="item.user_staff === '1'">
          <ion-badge color="success">Staff</ion-badge>
        </span>
        <span *ngIf="item.user_sponsored === '1'">
          <ion-badge color="success">Sponsored</ion-badge>
        </span>
        <span *ngIf="item.user_mod === '1'">
          <ion-badge color="danger">Mod</ion-badge>
        </span>
      </ion-label>
<ion-buttons >
  <p (click)="applicant(item.user_id, item.group_id)">View</p>

  <p (click)="accept(item.user_id)" class="follow-btn">{{Accept}}</p>
  <p (click)="decline(item.user_id)" class="unfollow-btn">{{Decline}}</p>

</ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>