<ion-content >
</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="all">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comments">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Comments</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="likes">
      <ion-icon name="thumbs-up-outline"></ion-icon>
      <ion-label>Likes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="connections">
      <ion-icon name="people"></ion-icon>
      <ion-label>Connections</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>