<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <div style=" display: flex; align-items:center;" *ngFor="let item of xp">
      <img (click)="openXPModal(item.user_points)" style="width: 30px; margin: 10px;" src="assets/images/XP.png">
      <ion-label style="font-size: small;">{{myXP}}</ion-label>
      <img style="width: 30px; margin: 10px;" src="assets/images/heads.png">
      <ion-label style="font-size: small;">{{myWallet}}</ion-label>
    
    </div>
    <ion-title>Merch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-no-padding">

    <ion-col size="6" *ngFor="let item of merch">
      <ion-card style="background-image: url(https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{item.picture}})"
        class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle style="color: limegreen;">
            <div [innerHTML]="item.name"></div>
          </ion-card-subtitle>
        </ion-card-content>
       
      </ion-card>
      <div class="card-footer">
      
        <ion-button (click)="buyMerch(item.id)"><img style="width: 25px;" src="assets/images/heads.png" />{{item.price}}</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>