ion-content {
    --background: #575858;
}

ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

ion-slide {
    display: flex;
    flex-direction: column;
}

.intro-text {
    width: 70%;
}