<ion-content [fullscreen]="true"> 
  <div class="container">
    <video autoplay loop>
      <source src="./assets/intro.mp4" types='video/mp4; codecs="h.264"'>
    </video>
   
    <ion-grid class="ion-padding white">
      
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-text-center">
        <ion-button class="action-button gradient-button ion-margin-top" expand="block" fill="solid" (click)="goToLogin()">
          <ion-icon name="mail" class="ion-padding-end"></ion-icon>
          <span>Continue with email</span>
        </ion-button>
        <ion-button class="action-button ion-margin-top" expand="block" fill="outline" color="medium">
          <ion-icon name="logo-google" class="ion-padding-end"></ion-icon>
          <span>Continue with Google</span>
        </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-text-center">
          <ion-text color="medium">OR</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-padding-bottom">
          <ion-button class="action-button ion-margin-top" expand="block" fill="outline" color="medium" (click)="goToRegister()">
            <ion-icon name="person-add" class="ion-padding-end"></ion-icon>
            <span>Create an account</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
