ion-toolbar {
  --background: transparent;
}

ion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;

  ion-icon {
    font-size: 16pt;
    color: #ffffff;
  }
}

ion-list-header {
  padding: 0;
  margin-left: 5px;

  ion-label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500 !important;
    line-height: 22px;
    margin: 0;
    letter-spacing: 0.2px;
  }
}

ion-item {
  margin-left: 10px;
  --padding-start: 10px;
  --inner-padding-end: 0;
  border-radius: 10px;

  h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  p {
    font-size: 13px;
    line-height: 18px;
  }
}

.follow-btn {
 --background:  var(--ion-color-primary);

  --box-shadow: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px;
}
.unfollow-btn {
  --background: radial-gradient(
    circle at top left,
    var(--ion-color-danger-shade),
    var(--ion-color-danger)
  );
  color: black;
  --box-shadow: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px;
}
.icon-bg {
  background: var(--ion-color-primary);
}
