<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of user" [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="ion-no-padding">
          <ion-list-header>
            <ion-label>Account settings</ion-label>
          </ion-list-header>
          <ion-item lines="none" class="ion-no-padding">
            <ion-thumbnail slot="start">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{item.user_picture}}" />
            </ion-thumbnail>
            <ion-label class="ion-no-margin">
              <div class="text-container">
                <h2 class="item-title">{{ item.user_name }}</h2>
              </div>
              <div style=" display: flex; align-items:center;">
                <img (click)="openXPModal(item.user_points)" style="width: 30px; margin: 10px;"
                  src="assets/images/XP.png">
                <ion-label style="font-size: small;" (click)="gotoShop()">{{item.user_points}}</ion-label>

                <img (click)="gotoShop()" style="width: 30px; margin: 10px;" src="assets/images/heads.png">
                <ion-label style="font-size: small;" (click)="gotoShop()">{{item.user_wallet_balance}}</ion-label>
                <ion-item>
                  <div style=" display: flex; align-items:center;">
                    <ion-label style="font-size: small;">All-Time </ion-label>

                    <img style="width: 20px; margin: 5px; " src="assets/images/XP.png">
                    <ion-label style="font-size: small;">: {{item.total_xp}}</ion-label>
                  </div>

                </ion-item>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list class="ion-no-padding">
          <ion-list-header>
            <ion-label>General Settings</ion-label>
          </ion-list-header>
          <ion-item
            (click)="edit(me, current, bio, location, username, email, gender, relationship, birthdate, searching)"
            lines="none">
            <ion-avatar slot="start" class="icon-bg">
              <ion-icon name="person"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Edit Account</h2>
              <p>Edit Profile Information</p>
            </ion-label>
          </ion-item>

          <ion-item (click)="password(me)" lines="none">
            <ion-avatar slot="start" class="icon-bg">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Change Password</h2>
              <p>Change your current password</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="blocked(me)" lines="none">
            <ion-avatar slot="start" class="icon-bg">
              <ion-icon name="people-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Manage Blocked Users</h2>
              <p>View/Unblock users</p>
            </ion-label>
          </ion-item>

          <ion-list-header>
            <ion-label>Referral</ion-label>
          </ion-list-header>
          <p style="color: orange; margin: 10px;" *ngIf="item.total_xp<5000">Unlock referral code with 5k all-time xp!
          </p>

          <ion-item *ngIf="item.total_xp > 5000" lines="none">
            <ion-label>
              <h2>Referral Code:</h2>

              <h2 style="color: limegreen;">{{item.user_name}}</h2>
              <p>Each referral code used upon registration awards 500 xp</p>
            </ion-label>
          </ion-item>

          <ion-row>
            <ion-list class="ion-no-padding">
              <ion-list-header>
                <ion-label>Newsfeed</ion-label>
              </ion-list-header>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item [ngStyle]="{'border':value === 'all' ? '2px solid green' : 'red' }" (click)="all()"
                      lines="none">
                      <ion-avatar slot="start" class="icon-bg">

                        <ion-icon name="earth-outline"></ion-icon>
                      </ion-avatar>
                      <ion-label>
                        <h2>All</h2>
                        <p>All posts</p>
                      </ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item [ngStyle]="{'border':value === 'following' ? '2px solid green' : 'red' }"
                      (click)="following()" lines="none">
                      <ion-avatar slot="start" class="icon-bg">

                        <ion-icon name="people-outline"></ion-icon>
                      </ion-avatar>
                      <ion-label>
                        <h2>Following</h2>
                        <p>Following only</p>
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" (click)="logout()">
    <ion-label>
      <h2 style="color: red;">Log out</h2>
    </ion-label>
  </ion-item>
</ion-content>