<ion-content [fullscreen]="true" *ngFor="let item of apps">
  <ion-grid class="ion-no-padding ion-no-margin background-opts"
    style.background-image="url('https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_cover }}')">
    <ion-row>
      <ion-col class="header-container">
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <div class="profile ion-padding">
          <div class="profile-user">
            <ion-thumbnail>
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_picture }}" />
            </ion-thumbnail>
            <ul class="profile-text ion-padding-horizontal">
              <li>{{ item.user_name }} <span *ngIf="item.user_verified === '1'" style="color: lime;">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <span *ngIf="item.user_staff === '1'">
                  <ion-badge color="success">Staff</ion-badge>
                </span>
                <span *ngIf="item.user_sponsored === '1'">
                  <ion-badge color="success">Sponsored</ion-badge>
                </span>
                <span *ngIf="item.user_mod === '1'">
                  <ion-badge color="danger">Mod</ion-badge>
                </span>
                <span *ngIf="item.user_subscribed === '1'">
                  <ion-icon style="color: red;" name="flash"></ion-icon>
                </span>
              </li>

            </ul>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding-horizontal borders">
    <ion-row class="">
      <ion-col>
        <div class="numbers">
          <ul (click)="friends(item.user_id)">
            <li>{{friendCount}}</li>
            <li>Friends</li>
          </ul>
          <ul (click)="badges(item.user_id)">
            <li>{{badgeCount}}</li>
            <li>Badges</li>
          </ul>
          <ul>
            <li>{{ item.total_xp }}</li>
            <li>XP Earned</li>
          </ul>

        </div>

      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>


  </ion-grid>




</ion-content>