<ion-content>
  <ion-grid style="background-color: grey;" class="ion-no-padding ion-no-margin background-opts">
    <ion-row>
      <ion-col *ngFor="let item of apps" class="header-container">
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <div class="profile ion-padding">
          <div class="profile-user">
            <ion-thumbnail>
               <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_picture }}" ></ion-img>
            </ion-thumbnail>
            <ul class="profile-text ion-padding-horizontal">
              <li>{{ item.user_name }} <span *ngIf="item.user_verified === '1'" style="color: lime;">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <span *ngIf="item.user_staff === '1'">
                  <ion-badge color="success">Staff</ion-badge>
                </span>
                <span *ngIf="item.user_sponsored === '1'">
                  <ion-badge color="success">Sponsored</ion-badge>
                </span>
                <span *ngIf="item.user_mod === '1'">
                  <ion-badge color="danger">Mod</ion-badge>
                </span>
                <span *ngIf="item.user_subscribed === '1'">
            <ion-badge color="danger">Pro</ion-badge>
                </span>
              </li>

            </ul>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding-horizontal borders">
    <ion-row class="">
      <ion-col>
        <div class="numbers">
          <ul>
            <li>{{friendCount}}</li>
            <li>Friends</li>
          </ul>
          <ul>
            <li>{{badgeCount}}</li>
            <li>Badges</li>
          </ul>
          <ul>
            <li>{{ xp }}</li>
            <li>XP Earned</li>
          </ul>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngFor="let item of apps">
    <ion-row>
      <ion-col>
        <h1>Name</h1>
      </ion-col>
      <ion-col>
        <p>{{item.fname}} {{item.lname}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Email</h1>
      </ion-col>
      <ion-col>
        <p>{{item.email}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Bio</h1>
      </ion-col>
      <ion-col>
        <p>{{item.bio}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Stats</h1>
      </ion-col>
      <ion-col>
        <p>{{item.stats}}</p>
      </ion-col>
    </ion-row>
    <ion-row></ion-row>
    <ion-row style="align-items: center;">
      <ion-buttons style="height: 40px;">

        <ion-button (click)="accept(item.user_id)" class="follow-btn">Accept</ion-button>
        <ion-button (click)="decline(item.user_id)" class="unfollow-btn">Decline</ion-button>

      </ion-buttons>
    </ion-row>
  </ion-grid>

</ion-content>