<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-icon name="close-outline"></ion-icon>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size-12>
        <form [formGroup]="postForm" (ngSubmit)="post(postForm.value)">
          <ion-row>
            <ion-col size="4">

              <ion-label>Group Name:</ion-label>
            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-textarea formControlName="group_name" value="{{group_name}}"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">

              <ion-label>Title:</ion-label>
            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-input formControlName="group_title" value="{{group_title}}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">

              <ion-label>Admin:</ion-label>
            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-input formControlName="group_admin" value="{{group_admin}}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">

              <ion-label>Description:</ion-label>
            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-textarea formControlName="group_description" value="{{group_description}}"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-list>
                <ion-radio-group formControlName="group_privacy" value="{{group_privacy}}">
                  <ion-list-header>
                    <ion-label>Privacy</ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Secret</ion-label>
                    <ion-radio slot="start" value="secret"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Closed</ion-label>
                    <ion-radio slot="start" value="closed"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Public</ion-label>
                    <ion-radio slot="start" value="public"></ion-radio>
                  </ion-item>

                </ion-radio-group>
              </ion-list>
            </ion-col>
            <ion-col size="6">
              <ion-label>Group Picture</ion-label>
              <input id="file" type="file" class="form-control" (change)="onFileChange($event)">
              <ion-label>Group Cover</ion-label>

              <input id="file" type="file" class="form-control" (change)="onCoverChange($event)">

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">

              <ion-label>Org Tag:</ion-label>
            </ion-col>
            <ion-col size="8">

              <ion-item>
                <ion-input formControlName="group_tag" value="{{group_tag}}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-button type="submit" ion-button full>Save</ion-button>
        </form>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>