<ion-card class="ion-no-margin">
  <ion-card-content class="ion-no-padding">
    <video #myvideo preload="metadata" loop playsinline>
      <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{source}}#t=0.001" />
    </video>
    <div class="data-container">
       <ion-img class="avatar" (click)="user(id)" src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{avatar}}" ></ion-img>

      <ul>
        <li class="text">{{ name }}</li>
        <li class="caption">{{ date | humanizeDate }}</li>

      </ul>
    </div>
  </ion-card-content>
</ion-card>