<ion-card class="ion-no-margin" >
  <ion-card-content class="ion-no-padding">
    <video #video loop  > <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{source}}" /> </video>
    <div class="data-container">
      <img class="avatar" (click)="user(id)" src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{avatar}}" />
 
      <ul>
        <li class="text">{{ name }}</li>
        <li class="caption">{{ date | humanizeDate }}</li>

      </ul>
    </div>
  </ion-card-content>
</ion-card>