<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="data">
    <ion-card-header>
      <ion-card-title>

      </ion-card-title>

    </ion-card-header>
    <ion-grid>
      <ion-col *ngFor="let i of badges">
        <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ i.icon }}" width="80" height="80">
        </ion-img>
      </ion-col>
    </ion-grid>
  </ion-card>
</ion-content>