<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button></ion-tab-button>


    <ion-tab-button tab="notification" >
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false">
  <ion-fab-button type="button">
    <img class="custom-icon-image" style="background: #f5f3f3;"/>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon style="fill: darkgoldenrod" name="trophy-sharp"></ion-icon></ion-fab-button>
    </ion-fab-list>
    
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon style="fill: white" name="shuffle-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon style="fill: red" name="videocam-sharp"></ion-icon></ion-fab-button>
    </ion-fab-list> </ion-fab-list>
</ion-fab>