<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Random Clip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of clip">
  <app-feed-card style="max-height: 400px; width: 100%; border: 3px solid gold;" [avatar]="item.user_picture"
    [name]="item.user_name" [post_id]="item.post_id" [date]="item.time" [text]="item.text" [origin]="item.origin_id"
    [user_id]="item.user_id" [feeling]="item.feeling_action" [value]="item.feeling_value"
    [picture]="item.picture_source" [gif]="item.gif" [videosrc]="item.source" [type]="item.post_type"
    [likes]="item.total" [grinding]="item.grinding" [colored]="item.colored_pattern" [tag]="item.tag"
    [comments]="item.comments" [shares]="item.shares" [boosted]="item.boosted">
  </app-feed-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
</ion-content>