<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Random Clip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of clip">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <ion-item >
          <ion-avatar (click)=user(item.user_id) slot="start">
            <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_picture }}" />
          </ion-avatar>
          <ion-label>
            <h3 (click)=user(item.user_id) >{{item.author}}<span *ngIf="item.user_verified === '1'" style="color: lime;">
                <ion-icon name="checkmark-circle"></ion-icon>
              </span>
              <span *ngIf="item.user_staff === '1'">
                <ion-badge color="success">Staff</ion-badge>
              </span>
              <span *ngIf="item.user_sponsored === '1'">
                <ion-badge color="success">Sponsored</ion-badge>
              </span>
              <span *ngIf="item.user_mod === '1'">
                <ion-badge color="danger">Mod</ion-badge>
              </span>
              <span *ngIf="item.user_subscribed === '1'">
                <ion-icon style="color: red;" name="flash"></ion-icon>
              </span>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item >
          <video style="height: -webkit-fill-available; width: -webkit-fill-available;" #video autoplay="true" webkit-playsinline preload="auto" loop (click)="videoSet()">
            <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.source }}" />
          </video>
        </ion-item>
        <ion-footer>
          <ion-row>
            <ion-col center text-center>
              <button>
                <ion-icon name="eye"></ion-icon>
                <div>{{item.views}} Views</div>
              </button>
            </ion-col>

          </ion-row>
        </ion-footer>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
</ion-content>