video {
align-items: center;
    max-width: -webkit-fill-available;
    
}

ion-row{

background-color: transparent;

}
ion-col{

background-color: var(--ion-background-color);

}
button{

    background-color: var(--ion-background-color);

}