<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Likes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text>
            <h5 class="section-title">Likes</h5>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list class="ion-no-padding">
          <app-notification-item *ngFor="let item of notifications" [avatar]="item.user_picture"
            [username]="item.user_name" [time]="item.time" [message]="item.message" (click)="notification(item.url)">
          </app-notification-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>