<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid
      class="ion-padding-horizontal background-opts"
      [ngStyle]="background"
    >
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-header class="ion-no-border">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="goBack()" class="back-btn">
                  <ion-icon
                    slot="icon-only"
                    name="arrow-back-outline"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding white">
      <ion-row class="ion-padding-horizontal">
        <ion-col size="9" class="ion-padding-vertical">
          <h1 class="title ion-no-padding ion-no-margin">Sign In</h1>
          <ion-text>Provide your credentials</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="">
          <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >Email Address</ion-label
              >
              <ion-input
                type="email"
                formControlName="email"
                placeholder="Type your email address"
              ></ion-input>
              <div
                class="errors-container"
                *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
              >
                <ng-container *ngIf="loginForm.get('email').errors.required"
                  >Email is required</ng-container
                >
                <ng-container *ngIf="loginForm.get('email').errors.invalidEmail"
                  >Email is invalid</ng-container
                >
              </div>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >Password</ion-label
              >
              <ion-input
                type="password"
                formControlName="password"
                placeholder="Type your password"
              ></ion-input>
              <div
                class="errors-container"
                *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
              >
                <ng-container *ngIf="loginForm.get('password').errors.required">
                  Password is required
                </ng-container>
                <ng-container
                  *ngIf="loginForm.get('password').errors.invalidPassword"
                >
                  {{loginForm.get('password').errors.message}}
                </ng-container>
              </div>
            </ion-item>
            <div class="ion-padding-vertical">
              <ion-button
                [disabled]="loginForm.invalid"
                class="action-button gradient-button"
                expand="block"
                fill="solid"
                type="submit"
              >
                <span>Sign In</span>
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
