p{

    font-size: 10px;
}
.card-content-ios{

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.card-content{

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

