<ion-card style="width: 100%">
  <ion-card-title>
    <ion-item lines="none">
      <ion-avatar (click)="user(user_id)" slot="start">
        <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{avatar}}" />
      </ion-avatar>
      <ion-label (click)="user(user_id)">
        <h2 class="item-title" style="color: limegreen;">{{ name }}</h2>
        <p class="item-subtitle">{{ date }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-title>
  <ion-card-content class="ion-no-padding">
    <ion-item>
      <div (click)="navigateToDetail(post_id)"
        style="max-width: 400px; max-height: 250px; font-weight: 400; overflow: scroll; margin-bottom: 10px;"
        [innerHTML]="text"></div>
    </ion-item>
    <ion-item *ngIf="type === 'video'">
      <video muted inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }"
        (inViewportAction)="onIntersection($event)" #player playsinline preload="auto" loop controls
        style="width: 100%;">
        <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{videosrc}}" />
      </video>
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'photos'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'profile_picture'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'profile_cover'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'cover_picture'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'group_cover'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>

    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'group_picture'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <div *ngIf="type === 'media'">
      <ion-item *ngFor="let share of media">
        <ion-card *ngIf="external === 'youtube'" style="border: 2px solid green; width: 100%;">
          <iframe frameborder="0" playsinline allowfullscreen width="100%" height="315" [src]="urls">
          </iframe>
        </ion-card>
        <ion-card *ngIf="external === 'twitch'">
          <a href="{{share.source_url}}"> <img src="./assets/images/twitch.jpg"></a>
        </ion-card>
      </ion-item>
    </div>
    <div *ngIf="type === 'shared'">
      <ion-item *ngFor="let share of shared">
        <ion-card style="border: 2px solid green;">
          <ion-card-title>
            <ion-item lines="none">
              <ion-avatar (click)="user(user_id)" slot="start">
                <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.user_picture}}" />
              </ion-avatar>
              <ion-label (click)="user(share.user_id)">
                <h2 class="item-title">{{ share.user_name }}</h2>
                <p class="item-subtitle">{{ share.time }}</p>
              </ion-label>
              <ion-button slot="end" fill="clear" size="small" shape="round">
                <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-title>
          <ion-card-content class="ion-no-padding">
            <ion-item>
              <div (click)="navigateToDetail(share.post_id)"
                style="max-width: 400px; max-height: 250px; font-weight: 400; overflow: scroll; margin-bottom: 10px;"
                [innerHTML]="share.text"></div>
            </ion-item>
            <ion-item *ngIf="share.post_type === 'video'">
              <video #player playsinline preload="auto" loop controls style="width: 100%;">
                <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.source}}" />
              </video>
            </ion-item>

            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'photos'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.picture_source}}" />
            </ion-item>

            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'group_cover'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.group_cover}}" />
            </ion-item>
            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'profile_picture'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.picture_source}}" />
            </ion-item>
            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'cover_picture'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.cover_picture}}" />
            </ion-item>

            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'group_picture'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.group_picture}}" />
            </ion-item>
            <div *ngIf="share.post_type === 'media'">
              <ion-item (click)="navigateToDetail(post_id)" *ngFor="let share of sharedmedia">
                <ion-card *ngIf="external === 'youtube'">
                  <iframe frameborder="0" playsinline allowfullscreen width="100%" height="315" [src]="urls">
                  </iframe>
                </ion-card>
                <ion-card *ngIf="external === 'twitch'">
                  <iframe frameborder="0" playsinline allowfullscreen width="100%" height="315" [src]="urls">
                  </iframe>
                </ion-card>

              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </div>
    <div class="card-footer">
      <div style="width: 100%;" class="icon-container">

        <ul>
          <ion-grid>
            <ion-row style="text-align: center;">
              <ion-col size="4">
                <li>
                  <ion-button  id="react-button" *ngIf="liked == 0"  (click)="react(post_id)" fill="clear" size="small" shape="round">
                    <img id="react-button" src="./assets/images/ggsgray.png"
                      style="height: 20px; border-radius: 0px; width: 50px; margin: 5px;" />
      
                    <ion-label>{{ likes }}</ion-label>
                  </ion-button>
                  <ion-button *ngIf="liked == 1" id="unreact-button" (click)="unreact(post_id)" fill="clear" size="small" shape="round">
                    <img  src="./assets/images/ggs.png"
                      style="height: 20px; border-radius: 0px; width: 50px; margin: 5px;" />
                  
                    <ion-label>{{ likes }}</ion-label>
                  </ion-button>
                </li>
              </ion-col>
              <ion-col size="4">
                <li>
                  <ion-button (click)="navigateToDetail(post_id)" fill="clear" size="small" shape="round">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                    <ion-label>{{ comments }}</ion-label>
                  </ion-button>
                </li>
              </ion-col>
              <ion-col size="4">
                <li>
                  <ion-button slot="end" fill="clear" size="small" shape="round">
                    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
                    <ion-label>{{ shares }}</ion-label>

                  </ion-button>

                </li>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ul>
      </div>

    </div>
  </ion-card-content>
</ion-card>
<div *ngIf="separator" class="separator ion-margin-top"></div>