<ion-card>
  <ion-card-title>
    <ion-item lines="none">
      <ion-avatar (click)="user(user_id)" slot="start">
        <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{avatar}}" />
      </ion-avatar>
      <ion-label (click)="user(user_id)">
        <h2 class="item-title">{{ name }}</h2>
        <p class="item-subtitle">{{ date }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-title>
  <ion-card-content class="ion-no-padding">
    <ion-item>
      <div (click)="navigateToDetail(post_id)"
        style="max-width: 400px; max-height: 250px; font-weight: 400; overflow: scroll; margin-bottom: 10px;"
        [innerHTML]="text"></div>
    </ion-item>
    <ion-item *ngIf="type === 'video'">
      <video muted inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }"
        (inViewportAction)="onIntersection($event)" #player playsinline preload="auto" loop controls
        style="width: 100%; height: 400px;">
        <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{videosrc}}" />
      </video>
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'photos'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'profile_picture'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'cover_picture'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'group_cover'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>

    <ion-item (click)="navigateToDetail(post_id)" *ngIf="type === 'group_picture'">
      <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{picture}}" />
    </ion-item>
    <div *ngIf="type === 'media'">
      <ion-item (click)="navigateToDetail(post_id)" *ngFor="let share of media">
        <ion-card style="border: 2px solid green;">
          <iframe frameborder="0" playsinline allowfullscreen width="100%" height="315" [src]="urls">
          </iframe>
        </ion-card>
      </ion-item>
    </div>
    <div *ngIf="type === 'shared'">
      <ion-item (click)="navigateToDetail(post_id)" *ngFor="let share of shared">
        <ion-card style="border: 2px solid green;">
          <ion-card-title>
            <ion-item lines="none">
              <ion-avatar (click)="user(user_id)" slot="start">
                <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.user_picture}}" />
              </ion-avatar>
              <ion-label (click)="user(share.user_id)">
                <h2 class="item-title">{{ share.user_name }}</h2>
                <p class="item-subtitle">{{ share.time }}</p>
              </ion-label>
              <ion-button slot="end" fill="clear" size="small" shape="round">
                <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-title>
          <ion-card-content class="ion-no-padding">
            <ion-item>
              <div (click)="navigateToDetail(post_id)"
                style="max-width: 400px; max-height: 250px; font-weight: 400; overflow: scroll; margin-bottom: 10px;"
                [innerHTML]="share.text"></div>
            </ion-item>
            <ion-item *ngIf="share.post_type === 'video'">
              <video #player playsinline preload="auto" loop controls style="width: 100%; height: 400px;">
                <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.source}}" />
              </video>
            </ion-item>

            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'photos'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.picture_source}}" />
            </ion-item>

            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'group_cover'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.group_cover}}" />
            </ion-item>
            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'profile_picture'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.picture_source}}" />
            </ion-item>
            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'cover_picture'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.cover_picture}}" />
            </ion-item>

            <ion-item (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'group_picture'">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.group_picture}}" />
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </div>
    <div class="card-footer">
      <div class="icon-container">
        <ul>
          <li>
            <ion-button fill="clear" size="small" shape="round">
              <img src="./assets/images/ggsgray.png"
                style="height: 20px; border-radius: 0px; width: 50px; margin: 5px;" />
              <ion-label>{{ likes }}</ion-label>
            </ion-button>
          </li>
          <li>
            <ion-button (click)="navigateToDetail(post_id)" fill="clear" size="small" shape="round">
              <ion-icon name="chatbubble"></ion-icon>
              <ion-label>{{ comments }}</ion-label>
            </ion-button>
          </li>
        </ul>
      </div>
      <ion-button slot="end" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
        <ion-label>{{ shares }}</ion-label>

      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
<div *ngIf="separator" class="separator ion-margin-top"></div>