<ion-card style="width: 100%">
  <ion-card-title>
    <ion-item lines="none">
      <ion-avatar (click)="user(user_id)" slot="start">
        <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{avatar}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2 (click)="user(user_id)" class="item-title"><span *ngIf="grinding != 0">#</span><span *ngIf="tag"
            (click)="getTagGroup(tag)">{{tag}}|</span>{{ name }}<span *ngIf="user_verified > 0" style="color: lime;">
            <ion-icon name="checkmark-circle"></ion-icon>
          </span>
          <span *ngIf="user_staff > 0">
            <ion-badge color="success">Staff</ion-badge>
          </span>
          <span *ngIf="user_sponsored > 0">
            <ion-badge color="success">Sponsored</ion-badge>
          </span>
          <span *ngIf="user_mod > 0">
            <ion-badge color="danger">Mod</ion-badge>
          </span>
          <span *ngIf="user_subscribed > 0">
            <ion-icon style="color: red;" name="flash"></ion-icon>
          </span>
        </h2><span style="color: lime;" (click)="gotogroup(group)" *ngIf="ingroup > 0">> {{groupname}}</span>
        <h3>{{feeling}} <span style="color: limegreen"> {{value}}</span></h3>
        <p class="item-subtitle">{{ date }}</p>
      </ion-label>
      <ion-fab horizontal="end" edge slot="end">
        <ion-fab-button style="max-width: 30px; background-color: transparent; max-height: 30px;">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list style="display: flex; align-items: end;" side="start">
          <ion-fab-button style="max-width: 30px; max-height: 30px;">
            <ion-icon style="fill: yellow" (click)="report(post_id)" name="warning">Report</ion-icon>
          </ion-fab-button>
          <ion-fab-button style="max-width: 30px; max-height: 30px;">
            <ion-icon *ngIf="boosted == 0; else unboost" style="fill: red;" name="battery-charging-outline"
              (click)="boost(post_id)">Block</ion-icon>
            <ng-template #unboost>
              <ion-icon style="fill: red;" name="battery-dead" (click)="deboost(post_id)"></ion-icon>
            </ng-template>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-item>
  </ion-card-title>

  <ion-card-content class="ion-no-padding">

    <ion-item lines="none" *ngIf="text">
      <ion-row>
        <ion-col size="0">
        </ion-col>
        <ion-col size="12">
          <div *ngIf="coloredpost" (click)="navigateToDetail(post_id)"
            style="height: 300px; background-size: cover; background-repeat: no-repeat; background: url('https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{coloredpost}}'); overflow: scroll; margin-bottom: 10px;">
            <div [ngStyle]="{'color': coloredtext}"
              style="font-weight: 700;  font-size: larger; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); "
              [innerHTML]="text">
            </div>
          </div>
          <div *ngIf="!coloredpost" (click)="navigateToDetail(post_id)"
            style="font-weight: 400; max-height: 400px; overflow: scroll; margin-bottom: 10px; " [innerHTML]="text">
          </div>
        </ion-col>
      </ion-row>

    </ion-item>
    <ion-item lines="none" *ngIf="type === 'video'">
      <video [muted]="'muted'" inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }"
        (inViewportAction)="onIntersection($event)" #player playsinline preload="auto" loop controls
        style="width: 100%;">
        <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{videosrc}}" />
      </video>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'photos'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'gif'">
      <ion-img src="{{gif}}"></ion-img>
    </ion-item>

    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'profile_picture'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'profile_cover'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'cover_picture'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'group_cover'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'album'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="type === 'group_picture'">
      <ion-img [src]='_picture' *ngIf="_picture != ''; else loading"></ion-img>
      <ng-template #loading>
        <ion-skeleton-text animated>

        </ion-skeleton-text>
      </ng-template>
    </ion-item>
    <div *ngIf="type === 'media'">
      <ion-item lines="none" *ngFor="let share of media">
        <ion-card *ngIf="external === 'youtube'" style="border: 2px solid green; width: 100%;">
          <iframe frameborder="0" #yt id="youtube" playsinline allowfullscreen width="100%" height="315" [src]="urls">
          </iframe>
        </ion-card>

        <ion-card lines="none" *ngIf="external === 'twitch'">
          <a href="{{share.source_url}}"> {{share.source_url}}</a>
        </ion-card>
        <ion-card lines="none" *ngIf="external === 'giphy'">
          <ion-img src="{{share.source_url}}"></ion-img>
          <ng-template #loading>
            <ion-skeleton-text animated>

            </ion-skeleton-text>
          </ng-template>
        </ion-card>
      </ion-item>
    </div>
    <div *ngIf="type === 'shared'">
      <ion-item lines="none" *ngFor="let share of shared">
        <ion-card style="border: 2px solid green;">
          <ion-card-title>
            <ion-item lines="none">
              <ion-avatar (click)="user(user_id)" slot="start">
                <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.user_picture}}"></ion-img>
              </ion-avatar>
              <ion-label (click)="user(share.user_id)">
                <h2 class="item-title">{{ share.user_name }}</h2>
                <p class="item-subtitle">{{ share.time }}</p>
              </ion-label>
              <ion-button slot="end" fill="clear" size="small" shape="round">
                <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-title>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none">
              <div (click)="navigateToDetail(share.post_id)"
                style="max-width: 400px; max-height: 250px; font-weight: 400; max-height: 400px; overflow: scroll; margin-bottom: 10px;"
                [innerHTML]="share.text"></div>
            </ion-item>
            <ion-item lines="none" *ngIf="share.post_type === 'video'">
              <video [muted]="'muted'" #player playsinline preload="auto" loop controls style="width: 100%;">
                <source src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.source}}" />
              </video>
            </ion-item>

            <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'photos'">
              <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.picture_source}}"></ion-img>
            </ion-item>

            <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'group_cover'">
              <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.group_cover}}"></ion-img>
            </ion-item>
            <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'profile_picture'">
              <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.picture_source}}"></ion-img>
            </ion-item>
            <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'gif'">
              <ion-img src="{{share.gif}}"></ion-img>
            </ion-item>

            <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'cover_picture'">
              <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.cover_picture}}"></ion-img>
            </ion-item>

            <ion-item lines="none" (click)="navigateToDetail(post_id)" *ngIf="share.post_type === 'group_picture'">
              <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{share.group_picture}}"></ion-img>
            </ion-item>
            <div *ngIf="share.post_type === 'media'">
              <ion-item (click)="navigateToDetail(post_id)" *ngFor="let share of sharedmedia">
                <ion-card *ngIf="external === 'youtube'">
                  <iframe frameborder="0" #yt id="youtube" playsinline allowfullscreen width="100%" height="315"
                    [src]="urls">
                  </iframe>
                </ion-card>
                <ion-card lines="none" *ngIf="external === 'twitch'">
                  <iframe frameborder="0" playsinline allowfullscreen width="100%" height="315" [src]="urls">
                  </iframe>
                </ion-card>
                <ion-card lines="none" *ngIf="external === 'giphy'">
                  <ion-img src="{{share.source_url}}"></ion-img>
                  <ng-template #loading>
                    <ion-skeleton-text animated>

                    </ion-skeleton-text>
                  </ng-template>
                </ion-card>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </div>
    <div lines="none" class="card-footer">
      <div style="width: 100%;" class="icon-container">

        <ul>
          <ion-grid>
            <ion-row style="text-align: center;">
              <ion-col size="4">
                <li>
                  <ion-button id="react-button" *ngIf="liked == 0" (click)="react(post_id)" fill="clear" size="small"
                    shape="round">
                    <ion-img id="react-button" [src]="image"
                      style="height: 20px; border-radius: 0px; width: 50px; margin: 5px;"></ion-img>

                    <ion-label *ngIf="likes > 0">{{ likes }}</ion-label>
                  </ion-button>
                  <ion-button *ngIf="liked == 1" id="unreact-button" (click)="unreact(post_id)" fill="clear"
                    size="small" shape="round">
                    <ion-img src="./assets/images/ggs.png"
                      style="height: 20px; border-radius: 0px; width: 50px; margin: 5px;"></ion-img>
                    <ion-label *ngIf="likes > 0">{{ likes }}</ion-label>
                  </ion-button>
                </li>
              </ion-col>
              <ion-col size="4">
                <li>
                  <ion-button (click)="navigateToDetail(post_id)" fill="clear" size="small" shape="round">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                    <ion-label *ngIf="comments > 0">{{ comments }}</ion-label>
                  </ion-button>
                </li>
              </ion-col>
              <ion-col size="4">
                <li>
                  <ion-button (click)="share(post_id)" slot="end" fill="clear" size="small" shape="round">
                    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
                    <ion-label *ngIf="shares > 0">{{ shares }}</ion-label>

                  </ion-button>

                </li>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ul>
      </div>

    </div>
  </ion-card-content>
</ion-card>
<div *ngIf="separator" class="separator ion-margin-top"></div>