<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style=" display: flex; align-items:center;" *ngFor="let item of xp" >
      <img (click)="openXPModal(item.user_points)" style="width: 30px; margin: 10px;" src="assets/images/XP.png">
      <ion-label style="font-size: small;" (click)="gotoShop()">{{myXP}}</ion-label>
      <img (click)="gotoShop()" style="width: 30px; margin: 10px;" src="assets/images/heads.png">
      <ion-label style="font-size: small;" (click)="gotoShop()">{{myWallet}}</ion-label>

    </div>
    <ion-buttons slot="end">
      <ion-button (click)="gotoSearch()">

        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button style="margin: 10px;" (click)="goToSettings()">
        <ion-icon class="white-icon" slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="didScroll()" [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>

    <ion-row>
      <ion-col class="ion-no-padding half-padding">
        <ion-item lines="none" class="section">
          <ion-text>
            <h5 class="section-title">Most Recent Uploads</h5>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-slides [options]="storiesConfig">
          <ion-slide (click)="openVideoModal(item.source)" *ngFor="let item of latest">
            <app-story-card [source]="item.source" [avatar]="item.user_picture" [name]="item.author" [date]="item.date"
              [id]="item.user_id">
            </app-story-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row style="width: 100%;" *ngFor="let item of dataList">
      <app-feed-card style="width: 100%;" [avatar]="item.user_picture" [name]="item.user_name" [post_id]="item.post_id"
        [date]="item.time" [text]="item.text" [origin]="item.origin_id" [user_id]="item.user_id"
        [picture]="item.picture_source" [videosrc]="item.source" [type]="item.post_type"
        [likes]="item.reaction_like_count" [comments]="item.comments" [shares]="item.shares" [separator]="true">
      </app-feed-card>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModalPost()">
    <ion-icon style="color: black;" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>