<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style=" display: flex; align-items:center;" *ngFor="let item of xp">
      <ion-img (click)="openXPModal(userXP)" style="width: 30px; margin: 10px;" src="assets/images/XP.png"></ion-img>
      <ion-label style="font-size: small;" (click)="gotoShop()">{{userXP}}</ion-label>

      <ion-img (click)="gotoShop()" style="width: 30px; margin: 10px;" src="assets/images/heads.png"></ion-img>
      <ion-label style="font-size: small;" (click)="gotoShop()">{{myWallet}}</ion-label>

    </div>
    <ion-buttons slot="end">
      <ion-button (click)="gotoSearch()">

        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button style="margin: 10px;" (click)="goToSettings()">
        <ion-icon class="white-icon" slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="didScroll()" (ionScrollStart)="scrollStart($event)"
  (ionScrollEnd)="scrollStop($event)" [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>

    <ion-row>
      <ion-col class="ion-no-padding half-padding">
        <ion-item lines="none" class="section">
          <ion-text>
            <h5 class="section-title">Most Recent Uploads</h5>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 10px;">
      <ion-col>
        <ion-slides [options]="storiesConfig">
          <ion-slide style="background-color: #010f04; border-radius: 10px;" (click)="openVideoModal(item.source)"
            *ngFor="let item of latest">
            <app-story-card [source]="item.source" [avatar]="item.user_picture" [name]="item.author" [date]="item.date"
              [id]="item.user_id">
            </app-story-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row style="width: 100%; padding-bottom: 10px;" *ngFor="let item of boost">
      <p style="font-size: xx-small; color: gold; margin: 0;">Boosted</p>
      <app-feed-card style="width: 100%; border: 3px solid gold;" [avatar]="item.user_picture" [name]="item.user_name"
        [post_id]="item.post_id" [date]="item.time" [text]="item.text" [origin]="item.origin_id"
        [user_id]="item.user_id" [feeling]="item.feeling_action" [value]="item.feeling_value"
        [picture]="item.picture_source" [gif]="item.gif" [ingroup]="item.in_group" [group]="item.group_id"
        [user_sponsored]="item.user_sponsored" [user_staff]="item.user_staff" [user_mod]="item.user_mod"
        [user_subscribed]="item.user_subscribed" [videosrc]="item.source" [type]="item.post_type" [likes]="item.total"
        [grinding]="item.grinding" [colored]="item.colored_pattern" [tag]="item.tag" [comments]="item.comments"
        [shares]="item.shares" [boosted]="item.boosted">
      </app-feed-card>
    </ion-row>
    <ion-row style="width: 100%;" *ngFor="let item of dataList">
      <app-feed-card style="width: 100%;" [avatar]="item.user_picture" [name]="item.user_name" [post_id]="item.post_id"
        [date]="item.time" [text]="item.text" [origin]="item.origin_id" [user_id]="item.user_id"
        [picture]="item.picture_source" [gif]="item.gif" [feeling]="item.feeling_action" [value]="item.feeling_value"
        [videosrc]="item.source" [type]="item.post_type" [likes]="item.total" [comments]="item.comments"
        [boosted]="item.boosted" [ingroup]="item.in_group" [group]="item.group_id"
        [user_sponsored]="item.user_sponsored" [user_staff]="item.user_staff" [user_mod]="item.user_mod"
        [user_subscribed]="item.user_subscribed" [grinding]="item.grinding" [colored]="item.colored_pattern"
        [tag]="item.tag" [shares]="item.shares" [separator]="true">
      </app-feed-card>
    </ion-row>

  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModalPost()">
    <ion-icon name="pencil"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab *ngIf="isShown" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="doRefresh($event)">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>