<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Giveaways</ion-title>
    <ion-buttons slot="end">
      <ion-label style="font-size: small;">{{myTickets}}</ion-label>

      <ion-img style="width: 30px; margin: 10px;" src="./assets/images/ticket.jpg"></ion-img>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngFor="let item of giveaways">
    <ion-slides>
      <ion-slide>
        <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{item.picture}}"></ion-img>
      </ion-slide>
    </ion-slides>
    <ion-card-title>
      <ion-item>
        <ion-label>
          <h2 class="item-title" style="color: lime;">{{ item.title }}</h2>
          <p class="item-subtitle">{{ item.end }} EST</p>
        </ion-label>

      </ion-item>
    </ion-card-title>
    <ion-card-content class="ion-no-padding">
      <ion-item>{{ item.description }}
      </ion-item>
    </ion-card-content>

    <div class="card-footer">

      <ion-button (click)="enter(item.id)" slot="end" fill="clear" size="small" shape="round">
        Enter Giveaway!
        <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
      </ion-button>
      <span style="vertical-align: -webkit-baseline-middle;"> Entries: {{item.entries}}
      </span>
    </div>
    <div></div>
  </ion-card>
</ion-content>