<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
  <ion-list>
    <ion-item (click)="user(item.user_id)" *ngFor="let item of dataList">

      <ion-thumbnail item-left>
         <ion-img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ item.user_picture }}"></ion-img>

      </ion-thumbnail>

      <ion-label>
        {{ item.user_name }} <span *ngIf="item.user_verified === '1'" style="color: lime;">
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
        <span *ngIf="item.user_staff === '1'">
          <ion-badge color="success">Staff</ion-badge>
        </span>
        <span *ngIf="item.user_sponsored === '1'">
          <ion-badge color="success">Sponsored</ion-badge>
        </span>
        <span *ngIf="item.user_mod === '1'">
          <ion-badge color="danger">Mod</ion-badge>
        </span>
      </ion-label>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>