<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searchTerm" animated (ionChange)="setFilteredItems()" class="ion-no-padding">
        </ion-searchbar>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list>
          <ion-item-sliding *ngFor="let item of dataList">
            <ion-item-options side="start">
              <ion-item-option>
                <ion-button class="ion-no-padding" fill="clear" size="small" shape="round">
                  <ion-icon slot="icon-only" name="bookmark"></ion-icon>
                </ion-button>
              </ion-item-option>
            </ion-item-options>
            <app-message-list-item [avatar]="item.user_picture" [user]="item.user_name" [time]="item.time"
              [message]="item.message" (click)="navigateToChat(item.conversation_id, item.user_name)">
            </app-message-list-item>
            <ion-item-options side="end">
              <ion-item-option>
                <ion-button class="ion-no-padding" fill="clear" size="small" shape="round" color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToContacts()">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>