ion-item-option {
  background: none;
}

ion-button {
  --border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
}

.item-options-ios {
  border-bottom-style: none;
}

.ios > ion-button {
  width: auto !important;
  height: auto !important;
  --padding-start: 0;
  --padding-end: 0;
}

ion-searchbar {
  --border-radius: 10px;
  --box-shadow: none;
  --cancel-button-color: var(--ion-color-primary);
  --clear-button-color: var(--ion-color-primary);
}
ion-item {
  --inner-padding-end: 0;

  ion-thumbnail {
    --border-radius: 10px;
    width: 50px;
    height: 50px;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-bottom: 4px;
    }

    p {
      width: 80%;
      line-height: 22px !important;
      max-height: 22px !important;
      white-space: normal;
      margin-right: 8px;
    }

    span {
      text-align: right;
    }
  }

  .active {
    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 38px;
      width: 12px;
      height: 12px;
      background-color: var(--ion-color-success);
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }

  ion-badge {
    font-size: 11px;
    font-weight: 400;
    padding: 3px 6px;
  }
}
