<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> My Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-no-padding">
    <ion-col size="6" *ngFor="let item of groups">
      <app-group-card (click)="goToGroup(item.group_id)" [name]="item.group_title" [verified]="item.group_verified"
        [image]="item.group_picture" [members]="item.group_members">
      </app-group-card>
    </ion-col>
  </ion-row>
</ion-content>