<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-icon name="close-outline"></ion-icon>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Purchase Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col style="background-image: url(https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{item.picture}})"
        size-12 *ngFor="let item of merchItem">
        <ion-card
          style="background-image: url(https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{item.picture}})"
          class="ion-text-center">
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle style="color: limegreen;">
            </ion-card-subtitle>
          </ion-card-content>

        </ion-card>
        <form [formGroup]="postForm" (ngSubmit)="post(me, postForm.value)">

          <ion-input style="color: rgb(14, 235, 6); background: black; font-size: larger;" formControlName="item"
            readonly placeholder="{{item.name}}"></ion-input>
          <ion-item>
            <ion-textarea formControlName="name" placeholder="Name"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea formControlName="street" placeholder="Street"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea formControlName="city" placeholder="City"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea formControlName="state" placeholder="State"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea formControlName="zip" placeholder="Zip Code"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-textarea formControlName="size" placeholder="Size(excluding hats): S, M, L, XL"></ion-textarea>
          </ion-item>
          <ion-button type="submit" ion-button full>Order!</ion-button>
        </form>
      </ion-col>

    </ion-row>
    

  </ion-grid>
</ion-content>