<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <div style=" display: flex; align-items:center;" >

      <img style="width: 30px; margin: 10px;" src="assets/images/heads.png">
      <ion-label style="font-size: small;">{{myWallet}}</ion-label>

    </div>
    <ion-title>Misc</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-no-padding">

    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
            <img src="./assets/images/ticket.jpg" />
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            1 Giveaway Ticket

          </ion-card-title>
          <ion-button (click)="buyTicket('ticket', 1)"><img style="width: 25px;" src="assets/images/heads.png" />1</ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
            <img src="./assets/images/ggs.png" />
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            1 Month Pro Upgrade

          </ion-card-title>
          <ion-card-subtitle>10 Boosts</ion-card-subtitle>
          <ion-card-subtitle>+250 XP</ion-card-subtitle>

          <ion-button (click)="buyPro('pro1', 5)"><img style="width: 25px;" src="assets/images/heads.png" />5</ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
            <img src="./assets/images/ggs.png" />
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            6 Month Pro Upgrade

          </ion-card-title>
          <ion-card-subtitle>30 Boosts</ion-card-subtitle>
          <ion-card-subtitle>+500 XP</ion-card-subtitle>
          <ion-button (click)="buyPro('pro6', 25)"><img style="width: 25px;" src="assets/images/heads.png" />25</ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
            <img src="./assets/images/ggs.png" />
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            12 Month Pro Upgrade

          </ion-card-title>
          <ion-card-subtitle>75 Boosts</ion-card-subtitle>
          <ion-card-subtitle>+1k XP</ion-card-subtitle>
          <ion-button (click)="buyPro('pro12', 50)"><img style="width: 25px;" src="assets/images/heads.png" />50</ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>