<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>

    </ion-buttons>
    <div style=" display: flex; align-items:center;">

       <ion-img style="width: 30px; margin: 10px;" src="assets/images/heads.png"></ion-img>
      <ion-label style="font-size: small;">{{myWallet}}</ion-label>

    </div>
    <ion-title>Misc</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-no-padding">

    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
             <ion-img src="./assets/images/ticket.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            1 Giveaway Ticket

          </ion-card-title>
          <ion-button (click)="buyTicket('ticket', 1)"> <ion-img style="width: 25px;" src="assets/images/heads.png" ></ion-img>1
          </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
             <ion-img src="./assets/images/logo.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            1 Month Pro

          </ion-card-title>
          <ion-card-subtitle>10 Boosts</ion-card-subtitle>
          <ion-card-subtitle>+250 XP</ion-card-subtitle>

          <ion-button (click)="buyPro('pro1', 5)"> <ion-img style="width: 25px;" src="assets/images/heads.png" ></ion-img>5
          </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
             <ion-img src="./assets/images/logo.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            6 Month Pro

          </ion-card-title>
          <ion-card-subtitle>30 Boosts</ion-card-subtitle>
          <ion-card-subtitle>+500 XP</ion-card-subtitle>
          <ion-button (click)="buyPro('pro6', 25)"> <ion-img style="width: 25px;" src="assets/images/heads.png" ></ion-img>25
          </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-text-center">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-thumbnail>
             <ion-img src="./assets/images/logo.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-card-title style="color: lime;">
            1 Year Pro

          </ion-card-title>
          <ion-card-subtitle>75 Boosts</ion-card-subtitle>
          <ion-card-subtitle>+1k XP</ion-card-subtitle>
          <ion-button (click)="buyPro('pro12', 50)"> <ion-img style="width: 25px;" src="assets/images/heads.png" ></ion-img>50
          </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>