<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Friend Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text>
            <h5 class="section-title">Friend Requests</h5>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list class="ion-no-padding">
          <ion-item *ngFor="let i of requests">
            <ion-avatar (click)="user(i.user_id)" slot="start">
              <img src="https://ggspace.nyc3.cdn.digitaloceanspaces.com/uploads/{{ i.user_picture}}" />
            </ion-avatar>
            <ion-label (click)="user(i.user_id)"> {{ i.user_name }} <span *ngIf="i.user_verified > 0"
                style="color: lime;">
                <ion-icon name="checkmark-circle"></ion-icon>
              </span>
              <span *ngIf="i.user_staff > 0">
                <ion-badge color="success">Staff</ion-badge>
              </span>
              <span *ngIf="i.user_sponsored > 0">
                <ion-badge color="success">Partner</ion-badge>
              </span>
              <span *ngIf="i.user_mod > 0">
                <ion-badge color="danger">Mod</ion-badge>
              </span>
            </ion-label>
            <ion-button (click)="decline(i.user_id)" class="danger-btn">{{declined}}</ion-button>
            <ion-button (click)="accept(i.user_id)" class="follow-btn">{{accepted}}</ion-button>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>